
<form #form='ngForm' (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <ejs-richtexteditor [insertImageSettings]='insertImageSettings' #fromRTE [(value)]='value' required name="name" [(ngModel)]="value" ></ejs-richtexteditor>
    <button type="submit" ejs-button>Submit</button>
  </div>
</form>

<!--<div [innerHTML]="value" ></div>-->
<p><img class="e-rte-image e-imginline" width="auto" height="auto" alt="Screenshot from 2019-11-21 09-24-51.png" src="http://localhost:8080/downloadFile/Screenshot from 2019-11-21 09-24-51.png" style="min-width: 0px; min-height: 0px;">undefined</p>
